glucaric_acid/single_computer_files/growth_condition_robustness1.csv
glucaric_acid/growth_condition_robustness.csv
glucaric_acid/kinetic_perturbation.csv
glucaric_acid/kinetic_perturbation_total.csv
glucaric_acid/growth_condition_robustness1.csv
glucaric_acid/single_computer_files/growth_condition_robustness.csv
