glucaric_acid/single_computer_files/growth_condition_robustness1.csv
glucaric_acid/growth_condition_robustness.csv
glucaric_acid/kinetic_perturbation.csv
glucaric_acid/kinetic_perturbation_total.csv
glucaric_acid/growth_condition_robustness1.csv
glucaric_acid/single_computer_files/growth_condition_robustness.csv
glucaric_acid/kinetic_perturbation_4arch.csv
method_tuning/grid_search/dc_landscape_sundials.csv
method_tuning/grid_search/da_landscape_sundials.csv
method_tuning/grid_search/ur_landscape_sundials.csv
method_tuning/grid_search/nc_landscape_sundials.csv
method_tuning/random_sampling/da100.csv
method_tuning/random_sampling/da1000.csv
method_tuning/random_sampling/da10000.csv
method_tuning/random_sampling/dc100.csv
method_tuning/random_sampling/dc1000.csv
method_tuning/random_sampling/dc10000.csv
method_tuning/random_sampling/nc100.csv
method_tuning/random_sampling/nc1000.csv
method_tuning/random_sampling/nc10000.csv
method_tuning/random_sampling/ur100.csv
method_tuning/random_sampling/ur1000.csv
method_tuning/random_sampling/ur10000.csv
data/glucaric_acid_kinetic_perturbation.csv